<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template::head(title='TheStargram :: profile')}">
</head>
<body th:replace="~{template::body(view=~{::view}, script=~{::script})}">
	<!-- 사이드바 고정 -->
	<!-- 프로필 -->
	<div th:fragment="view"
		style="width: 100%; padding-top: 30px; padding-left: 20px;margin-left:230px;"
		class="d-flex justify-content-center">
		<div style="width: 935px" class="d-flex flex-column">
			<div style="width: 935px; margin-bottom: 44px; height: 150px"
				class="d-flex">
				<div style="width: 500px">
					<div style="width: 150px; margin: auto">
						<div class="rounded-circle"
							style="overflow: hidden; margin-right: 30px; width: 150px; cursor: pointer;"
							data-bs-toggle="modal"
							th:data-bs-target="${myaccount.username==account.username} ? '#profile' : ''">
							<img alt="프로필메인" th:src="@{${profile}}"
								style="width: 150px; height: 150px">
						</div>
					</div>
				</div>
				<div class="d-flex flex-column" style="width: 100%">
					<div class="d-flex justify-content-start align-items-center gap-3">
						<div th:text="${account.username}" style="font-size: 20px;"></div>
						<!-- 팔로잉 / 팔로우하기 -->
						<!-- 메세지 보내기 -->
						<th:block th:if="${myaccount.id != account.id}">				
							<div>
								<form th:action="@{/direct/create}" method="post">
									<input type="hidden" name="accountId" th:value="${account.id}" />
									<button type="submit" class="btn btn-sm" th:text="|메시지 보내기|"
										style="width: 120px; background-color: rgb(239, 239, 239); font-weight: bold;"></button>
								</form>
							</div>
						</th:block>
					</div>
					<div style="margin-bottom: 20px"></div>
					<ul style="padding: 0px">
						<li style="margin-right: 40px">게시물 <span
							style="font-weight: bold;"
							th:text="${postCnt==null ? '0' : postCnt}">0</span>
						</li>
						<li style="margin-right: 40px">팔로워 <span
							style="font-weight: bold;"
							th:text="${follower==null ? '0' : follower}">0</span>
						</li>
						<li>팔로우 <span style="font-weight: bold;"
							th:text="${follow==null ? '0' : follow}">0</span>
						</li>
					</ul>
					<div style="font-weight: bold; font-size: 15px"
						th:text="${account.name}"></div>
				</div>
			</div>
			<hr style="margin-bottom: 0px" />
			<!-- navbar -->
			<div class="d-flex justify-content-center align-items-center" style="height: 53px;min-height: 53px; max-height: 53px">
				<span class="me-2" style="font-size: 11px"><i class="bi bi-table"></i></span><a th:text="게시물" style="margin-right: 60px; font-size: 12px; cursor: pointer;"
					th:href="|@{/{username}(username = ${account.username})}|"></a>
				<a th:text="팔로워" style="margin-right: 60px; font-size: 12px; cursor: pointer;" th:href="@{/follower}"></a>
				<a th:text="팔로우" style="margin-right: 60px; font-size: 12px; cursor: pointer;" th:href="@{/follow}"></a>
			</div>
			<!-- 내 게시물 나열하기 -->
			<div style="width: 935px" class="text-center">
				<div class="row row-cols-3 g-1">
					<!-- 내 게시물 다 가지고오기 -->
					<th:block th:if="${noPost}">
						<div style="margin-bottom: 8px; margin-top: 8px">
							<div th:text="|등록된 게시물이 없습니다.|"></div>
						</div>
					</th:block>
					<th:block th:each="one : ${posts}">
						<div class="p-1 col"
							style="margin: 1px; width: 309px; height: 309px; max-width: 309px; max-height: 309px; cursor: pointer;">
							<img th:alt="게시물"
								th:src="@{/static{imageUrl}(imageUrl=${one.images[0].postImageUrl})}"
								style="width: 100%; height: 100%" data-bs-toggle="modal"
								th:data-bs-target="|#postmodal${one.post.id}|">

						</div>
						<!-- post detail modal -->
						<!-- 게시물 더보기 Modal -->
						<div class="modal fade" th:id="|postmodal${one.post.id}|" tabindex="-1" th:aria-labelledby="|postmodal${one.post.id}|" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered modal-xl"
								style="width: 100vw">
								<div class="modal-content" style="height: 60vh;">
									<div class="modal-body" style="padding: 0px">
										<div class="d-flex" style="width: 100%; height: 100%">
											<!-- 사진 -->
											<div style="width: 60%; height: 545px;">
												<div id="carouselExampleIndicators" class="carousel slide"
													style="width: 100%; height: 100%">
													<div class="carousel-inner" style="height: 100%"
														th:if="${not #lists.isEmpty(posts)}">
														<th:block th:each="postImage : ${one.images}">
															<div
																th:class="${postImageStat.first} ? 'carousel-item active' : 'carousel-item'"
																style="height: 100%; overflow: hidden;">
																<img
																	th:src="@{/static{imageUrl}(imageUrl = ${postImage.postImageUrl})}"
																	class="d-block w-100 h-100" th:alt="사진"
																	style="max-height: 545px; overflow: hidden">
															</div>
														</th:block>
													</div>
													<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
														<span class="carousel-control-prev-icon" aria-hidden="true"></span> 
														<span class="visually-hidden">Previous</span>
													</button>
													<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
														<span class="carousel-control-next-icon" aria-hidden="true"></span> 
														<span class="visually-hidden">Next</span>
													</button>
												</div>
											</div>
											<!-- 댓글 div -->
											<div style="width: 40%; height: 540px">
												<div class="d-flex flex-column">
													<div class="d-flex justify-content-between align-items-center" style="height: 60px;">
														<div class="d-flex justify-content-start align-items-center gap-2">
															<div style="cursor: pointer; padding-top: 14px; padding-bottom: 14px; padding-left: 16px; padding-right: 4px">
																<img class="rounded-circle" alt="프로필사진" th:src="@{${profile}}"
																	style="overflow: hidden; width: 32px; height: 32px; object-fit: cover;">
															</div>
															<div th:text="${account.username}"
																style="font-size: 13px; font-weight: bold;"></div>
														</div>
														<div style="padding-right: 4px">
															<i class="bi bi-three-dots" style="padding: 8px"></i>
														</div>
													</div>
													<hr style="margin: 0px" />
													<!-- 댓글 나열 div -->
													<div style="position: relative; height: 38vh" id="commentList">
														<!-- /////// 댓글 유무에 따른 화면 다르게 하기.... -->
														<ul style="overflow-y: scroll; position: absolute; padding: 16px; scrollbar-width: none; vertical-align: baseline; max-height: 38vh">
															<li style="width: 100%; padding-bottom: 16px">
																<div class="d-flex justify-content-start gap-3">
																	<div style="cursor: pointer;">
																		<img class="rounded-circle" alt="프로필사진"
																			th:src="@{${profile}}"
																			style="overflow: hidden; width: 32px; height: 32px; object-fit: cover;">
																	</div>
																	<div class="d-flex flex-column"
																		style="font-size: 12px; text-align: left">
																		<div th:text="${account.username}"
																			style="font-weight: bold;"></div>
																		<div th:text="${one.post.content}"></div>
																		<div th:text="${one.post.writedAt}"
																			style="font-weight: bold; color: #B4B4B8"></div>
																	</div>
																</div>
															</li>
															<!-- comment(댓글) 불러오기 -->
															<th:block th:each="comment : ${comments}">
																<th:block th:if="${one.post.id == comment.comments.post.id}">
																	<li style="width: 100%; padding-bottom: 16px">
																		<div class="d-flex justify-content-start gap-3">
																			<div style="cursor: pointer;">
																				<img class="rounded-circle" alt="댓글단프로필사진"
																					th:src="@{${comment.profiles.profileImageUrl}}"
																					style="overflow: hidden; width: 32px; height: 32px; object-fit: cover;">
																			</div>
																			<div class="d-flex flex-column" style="font-size: 12px; text-align: left">
																				<div th:text="${comment.comments.account.username}" style="font-weight: bold;"></div>
																				<div th:text="${comment.comments.commentContent}"></div>
																				<div th:text="${comment.comments.writedAt}"
																					style="font-weight: bold; color: #B4B4B8"></div>
																			</div>
																		</div>
																	</li>
																</th:block>
															</th:block>
														</ul>
													</div>
													<div
														class="d-flex justify-content-between align-items-center"
														style="margin-left: 10px; margin-right: 10px">
														<div
															class="d-flex justify-content-start align-items-center">
															<div style="width: 40px; height: 40px;">
																<i class="bi bi-suit-heart"
																	style="font-size: 22px; width: 24px; height: 24px; cursor: pointer;"
																	id="heart"></i>
															</div>
															<div style="width: 40px; height: 40px;">
																<i class="bi bi-chat"
																	style="font-size: 22px; width: 24px; height: 24px"></i>
															</div>
															<div style="width: 40px; height: 40px;">
																<i class="bi bi-send"
																	style="font-size: 22px; width: 24px; height: 24px"></i>
															</div>
														</div>
														<div>
															<img alt="저장" th:src="@{/static/nav/저장.png}"
																style="width: 24px; height: 24px">
														</div>
													</div>
													<div class="d-flex flex-column" style="text-align: left">
														<div style="font-size: 13px; margin-left: 10px">
															<span>0</span>명이 좋아합니다
														</div>
														<div
															style="font-size: 10px; margin-left: 10px; color: #7D7C7C">
															<!-- 이 게시물의 날짜로 수정 -->
															<span th:text="${one.post.writedAt}"></span>
														</div>
													</div>
													<hr style="margin-top: 7px; margin-bottom: 7px" />
													<!-- 댓글달기 Form -->
													<div style="height: 100%">
														<input type="hidden" name="postId"
															th:value="${one.post.id}" />
														<div
															class="d-flex justify-content-between align-items-center"
															id="postIdDataset">
															<div th:data-postid="${one.post.id}" class="tt">
																<input type="text" th:placeholder="|댓글 달기...|" class="form-control" name="content" th:id="|content${one.post.id}|"
																	style="width: 20vw; font-size: 14px; border: none; box-shadow: none" autocomplete="off" />
															</div>
															<div style="padding-right: 10px; font-size: 14px; cursor: pointer;">
																<span th:text="게시" style="font-weight: bold; color: rgb(0, 149, 246); cursor: pointer;" th:id="|addComment${one.post.id}|"
																	th:data-post-id="${one.post.id}"  th:data-username="${one.post.account.username}"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<!-- 프로필 변경 Modal -->
		<div class="modal fade" id="profile" tabindex="-1"
			aria-labelledby="profile" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content" style="width: 400px; height: 223px">
					<div class="modal-header" style="height: 70px">
						<h1 class="modal-title fs-5" id="profile" th:text="|프로필 사진 바꾸기|"
							style="font-size: 17px; margin: auto;">프로필 사진 바꾸기</h1>
					</div>
					<div class="modal-body d-flex flex-column"
						style="padding: 0px; height: 160px">
						<div>
							<form th:action="@{/changeProfileImage}"
								enctype="multipart/form-data" method="post"
								id="profileChangeForm" name="profileChangeForm"
								onsubmit="changeProfile(); return false;">
								<input type="file" style="display: none" id="profileImage"
									name="profileImage" />
								<button type="button" class="btn btn-white" th:text="|사진 업로드|"
									style="color: rgb(0, 149, 246); width: 100%; height: 50px; font-size: 14px; font-weight: bold; border-bottom: 1px solid #dee2e6; border-radius: 0px"
									onclick="document.querySelector('#profileImage').click();"></button>
							</form>
						</div>
						<div>
							<button class="btn btn-white" th:text="|현재 사진 삭제|"
								style="color: rgb(237, 73, 86); width: 100%; height: 50px; font-size: 14px; font-weight: bold; border-bottom: 1px solid #dee2e6; border-radius: 0px"
								th:onclick="|location.href='@{/deleteProfileImage}'|"></button>
						</div>
						<div>
							<button class="btn btn-white" th:text="|취소|"
								data-bs-dismiss="modal"
								style="color: blue; width: 100%; height: 50px; font-size: 14px; font-weight: bold; border-radius: 0px"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:fragment="script" >
	
	//게시글 디테일 모달 댓글 추가
	//const $div = document.querySelector("#postIdDataset");
	var $div = document.querySelectorAll(".tt");
	
	for(i =0; i< $div.length ; i++){
		
		//let $input = document.querySelector("#content"+$div[i].dataset.postid);
		document.querySelector("#addComment"+$div[i].dataset.postid).addEventListener("click", function(e){
			
			//console.log('데이터셋 :: '+$div[i].dataset.postid);
			//테스트용 객체 생성
			let testData = {
				'content' : document.querySelector("#content"+e.target.dataset.postId).value,
				'postid' : e.target.dataset.postId,
				'username' : e.target.dataset.username
			};
			
			fetch("/add/comment/api", {
				method : "POST",
				headers: {
					"Content-Type" : "application/json",
				},
				body : JSON.stringify(testData)
			}).then(function(response){
				return response.text();
			}).then(function(obj){
				if(obj == "success"){
					location.reload();
				}
			});
			
			document.querySelector("#content").value ='';
			
		});
	}


	// 프로필 사진 업로드 form 전송
	document.querySelector("#profileImage").addEventListener("change", function(e){
		//console.log(e.target.value);
		document.profileChangeForm.submit();
	});

</script>
</body>
</html>