<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<title th:text="${title}">Thestargram</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">

<style type="text/css">
a:link {
	color: black;
}

a:hover {
	color: black;
}
a:visited {
	color: black;
}


a:active {
	color: black;
}

a:focus {
	color: black;
}

.content {
	border: none;
	resize: none;
}

.content:focus {
	outline: none;
}

ul {
	list-style: none;
}

li {
	float: left;
	margin-right: 20px;
}

.ulLine::-webkit-scrollbar {
	width: 10px;
}

.ulLine::-webkit-scrollbar-thumb {
	background-color: #2f3542;
	border-radius: 10px;
	background-clip: padding-box;
	border: 2px solid transparent;
}

.ulLine::-webkit-scrollbar-track {
	background-color: grey;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.sidebar {
	height: 100vh;
	min-height: 200px;
	overflow: auto;
	position: fixed;
}
</style>
</head>
<body th:fragment="body(view, script)">
	<div class=" d-flex" style="padding: 0px; height: 911px">
		<!-- 사이드바 고정 -->
		<div
			style="width: 230px; max-width: 230px;min-width:230px; border-right: 1px solid rgb(219,219,219); height: 100%; background-color: white; overflow-x: hidden;overflow-y:hidden; "
			class="sidebar">
			<div style="width: 230px" class="d-flex flex-column align-items-start gap-5">
				<div class="p-2" style="margin-bottom: 250px">
					<div style="width: 230px; height: 73px; padding-top: 35px; margin-bottom: 19px; padding-right: 12px; padding-left: 20px; cursor: pointer;" th:onclick="location.href='/'">
						<img alt="더스타그램" th:src="@{/static/logo.png}" style="width: 103px; height: 34px">
					</div>
					<div>
						<ul class="nav flex-column" style="cursor: pointer;">
							<li class="nav-item" >
								<div class="ms-2 d-flex justify-content-start align-items-center" style="padding: 12px; ">
									<div style="cursor: pointer;">
										<img alt="홈" th:src="@{/static/nav/홈.png}" style="width: 25px; height: 25px">
									</div>
									<div>
										<a class="nav-link active" aria-current="page" th:href="@{/index}" th:text="홈"></a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="ms-2 d-flex justify-content-start align-items-center" style="padding: 12px;" data-bs-toggle="offcanvas"
									data-bs-target="#search">
									<div>
										<img alt="검색" th:src="@{/static/nav/검색.png}" style="width: 25px; height: 25px; color: #B4B4B8">
									</div>
									<div>
										<a class="nav-link active disabled" aria-current="page" href="#" th:text="검색" style=" color: #B4B4B8;" ></a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="ms-2 d-flex justify-content-start align-items-center" style="padding: 12px">
									<div>
										<img alt="탐색탭" th:src="@{/static/nav/탐색탭.png}" style="width: 25px; height: 25px;color: #B4B4B8">
									</div>
									<div>
										<a class="nav-link active" aria-current="page" href="#" th:text="|탐색 탭|" style="color: #B4B4B8"></a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="ms-2 d-flex justify-content-start align-items-center" style="padding: 12px">
									<div>
										<img alt="메시지" th:src="@{/static/nav/메시지.png}" style="width: 25px; height: 25px">
									</div>
									<div>
										<a class="nav-link active" aria-current="page" th:href="@{/direct/inbox}" th:text="메시지"></a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="ms-2 d-flex justify-content-start align-items-center" style="padding: 12px" data-bs-toggle="offcanvas"
									data-bs-target="#alarm">
									<div>
										<img alt="알림" th:src="@{/static/nav/알림.png}" style="width: 25px; height: 25px;color: #B4B4B8">
									</div>
									<div>
										<a class="nav-link active" aria-current="page" href="#" th:text="알림" style="color: #B4B4B8"></a>
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="ms-2 d-flex justify-content-start align-items-center" style="padding: 12px" data-bs-toggle="modal"
									data-bs-target="#addPost">
									<div style="cursor: pointer;">
										<img alt="만들기" th:src="@{/static/nav/만들기.png}" style="width: 25px; height: 25px">
									</div>
									<div th:text="만들기" style="margin-left: 15px; cursor: pointer;">
									</div>
								</div>
							</li>
							<li class="nav-item">
								<div class="ms-2 d-flex justify-content-start align-items-center" style="padding: 12px">
									<div class="rounded-circle" style="overflow: hidden;">
										<img alt="프로필" th:src="@{${myprofile}}" style="width: 25px; height: 25px">
									</div>
									<div>
										<a class="nav-link active" aria-current="page" th:href="@{/{username}(username = ${myaccount.username})}"
											th:text="프로필"></a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- 메뉴바 -->
				<div class="dropup-center dropup p-2">
					  <button class="btn btn-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px; text-align: left;
					  			outline: none; border: none">
						<div class="d-flex justify-conetent-start align-items-center gap-2">
						    <div style="align-items:center;font-weight: bold;font-size: 25px"><i class="bi bi-list"></i></div>
						    <div style="align-items: center">더보기</div>
					 	</div>
					  </button>
					  <ul class="dropdown-menu">
					    <li style="width: 100%; margin: 0px; cursor: pointer;"> 
					    	<div class="dropdown-item" style="font-size: 14px;" th:text="모드전환">모드전환</div>
					    </li>
					    <li style="width: 100%; margin: 0px; cursor: pointer;">
					    	<div class="dropdown-item" style="font-size: 14px;" onclick="document.querySelector('#formSubmit').submit();" th:text="로그아웃">로그아웃</div>
					    </li>
					  </ul>
			    	  <form th:action="@{/logout}" method="post" style="display: none" id="formSubmit"></form>
				</div>
			</div>
		</div>
		<!-- 스토리 및 게시물 -->
		<div th:replace="${view}"></div>
	</div>
	<!-- offcanvas -->

	<!-- 검색 -->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="search"
		aria-labelledby="search">
		<div class="offcanvas-header" style="padding-bottom: 0px">
			<div class="offcanvas-title" id="search"
				style="font-weight: bold; font-size: 25px">검색</div>
		</div>
		<div class="offcanvas-body">
			<form class="d-flex mt-3">
				<input class="form-control me-2" type="search" placeholder="검색">
				<button class="btn btn-outline-success" type="submit">#</button>
			</form>
		</div>
	</div>

	<!-- 알람 -->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="alarm"
		aria-labelledby="alarm">
		<div class="offcanvas-header" style="padding-bottom: 0px">
			<div class="offcanvas-title" id="alarm"
				style="font-weight: bold; font-size: 25px">알림</div>
		</div>
		<div class="offcanvas-body">
			<ul>
				<li>여기다가</li>
				<li>알림을</li>
				<li>나열해주면</li>
				<li>되겠군?</li>
			</ul>
		</div>
	</div>

	<!-- 만들기 Modal -->
	<form th:action="@{/add/post}" method="post"
		enctype="multipart/form-data" id="form">
		<div class="modal fade" id="addPost" tabindex="-1"
			aria-labelledby="addPost" aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div
						class="modal-header d-flex justify-content-between align-items-center"
						style="padding: 10px">
						<div class="modal-title fs-6" id="exampleModalLabel"
							style="font-weight: bold; margin: auto">새 게시물 만들기</div>
						<div class="d-flex justify-content-end gap-3 ">
							<div th:text="공유하기"
								style="font-size: 15px; font-weight: bold; color: blue; cursor: pointer;"
								onclick="document.querySelector('#form').submit();"></div>
							<div>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close" id="modalClose"></button>
							</div>
						</div>
					</div>
					<div class="modal-body row g-1"
						style="max-width: 100%; height: 420px; padding: 0px">

						<div class="col d-flex flex-column gap-3"
							style="border-right: 1px solid #C7C8CC; max-width: 400px">
							<div class="d-flex" id="imageView"
								style="overflow-x: auto; padding-left: 10px">

								<div style="cursor: pointer; width: 85px">
									<img alt="사진추가" th:src="@{/static/nav/사진추가.png}"
										style="width: 85px; height: 85px; cursor: pointer;"
										onclick="document.querySelector('#image').click();"> <input
										type="file" name="images" id="image" style="display: none"
										multiple="multiple" />
								</div>

							</div>
							<!-- 여기는 캐러쉘!! -->
							<div id="addPostCarousel" class="carousel slide"
								style="height: 302px">
								<div class="carousel-inner" id="carouselView"
									style="max-height: 302px"></div>
								<button class="carousel-control-prev" type="button"
									data-bs-target="#addPostCarousel" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button"
									data-bs-target="#addPostCarousel" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>

						<div class="col" style="min-width: 40%">
							<div
								class="d-flex justify-content-start align-items-center gap-3 mt-2 ms-2">
								<div class="rounded-circle" style="overflow: hidden">
									<img alt="프로필사진" th:src="@{${myprofile}}"
										style="width: 25px; height: 25px">
								</div>
								<div th:text="${myaccount.username}"
									style="font-size: 14px; font-weight: bold;"></div>
							</div>
							<div class="mt-3 ms-2">
								<textarea rows="13" cols="45" th:placeholder="|문구를 입력하세요...|"
									style="outline: none; max-width: 100%; min-width: 50%"
									class="content" id="content" maxlength="300" name="content"></textarea>
							</div>
							<div style="float: right; color: #B4B4B3">
								<span id="textLengthCheck">0</span>/300
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	
	

	<script>

	const fileState = [];
	// 사진 미리보기
	document.querySelector("#image").onchange = function(e){
		const files = [...document.querySelector("#image").files]
		
		files.forEach(function(file, index){
			const fileReader = new FileReader();
			
			fileReader.readAsDataURL(file);
			fileReader.onload = function(e){
				
				const div = document.createElement("div");
				div.className = "p-1 col rounded position-relative";
				div.style.maxWidth = "85px";
				
				const div2 = document.createElement("div");
				if(index === 0){
					div2.className = "carousel-item active";			
				}else{
					div2.className = "carousel-item";
				}
				
				const img = document.createElement("img");
				img.src = e.target.result;
				img.width = 90;
				img.height = 90;
				img.className = "object-fit-cover";
				div.appendChild(img);
				
				
				
				const button = document.createElement("button");
				button.type = "button";
		        button.className = "position-absolute top-0 end-0";
				button.ariaLabel = "Close";
				button.style.border = "none";
				button.style.backgroundColor = "transparent";
				button.style.padding = 0;
				button.style.paddingTop = "5px";				
				button.style.margin = 0;
				div.appendChild(button);
			
				const i = document.createElement("i");
				i.className = "bi bi-x-circle";
				i.style.color = "white";
				button.appendChild(i);
				
				const img2 = document.createElement("img");
				img2.src = e.target.result;
				img2.className = "d-block w-100";
				img2.style.height = "302px";
				div2.appendChild(img2);
				
			
				let childe_nodes = document.querySelector("#carouselView").childNodes;
				console.log(childe_nodes[0]);
				
				button.onclick = function() {
					document.querySelector("#imageView").removeChild(this.parentNode);
					console.log(index);
					console.log(childe_nodes[index]);
					document.querySelector("#carouselView").removeChild(childe_nodes[index]);
					
				}
				
				document.querySelector("#imageView").appendChild(div);
				document.querySelector("#carouselView").appendChild(div2);
			
				
			}
		})
	}
	
	// textarea 글자수 체크
	document.querySelector("#content").addEventListener("keyup", function(e){
		var content = e.target.value;
		console.log(content);
		document.querySelector("#textLengthCheck").textContent = content.length;
		
		if(content.length == 300){
			window.alert("최대 300자까지 입력 가능합니다.")
		}
	});
	
	
</script>
<script th:replace="${script}"></script>
</body>
</html>